<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>jokerServlet</servlet-name>
    <servlet-class>com.joker.core.mvc.servlet.JokerDispatcherServlet</servlet-class>  
    <init-param>
		<param-name>config</param-name>
		<param-value>/WEB-INF/config/joker-config.xml</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup>
  </servlet>
  
    <servlet-mapping>
    <servlet-name>jokerServlet</servlet-name>
    <url-pattern>*.jk</url-pattern>
  </servlet-mapping>
  
</web-app>
